@charset "utf-8";
#PRINCIPAL {
}
#ENCABEZADO {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
    font-size: 36px;
    color: #E8191D;
    text-align: center;
    width: 1000px;
}
#ENCABEZADO {
}
